Hello,
Good Morning!!!
Welcome from {{ansible_all_ipv4_addresses}}
OS: {{ansible_distribution}}
<br>
Current time is: {{ansible_date_time.date}} {{ansible_date_time.time}}
<html>
<head>
    <title>SET SERIES: ANSIBLE Training...</title>
</head>
<body>

  <p>
    <h1>WELCOME to SET SERIES: ANSIBLE Training...</h1>
	<br>
	<h2>Module 5 Session 1 : Ansible Roles </h2>
	<br>
        <br>
	<h3> 
	<br>
	<br>#######################################################################
		<br>####### Deployed with Ansible on {{ansible_hostname}}...########
		<br>#####################################################################
		
	</h3>
	
	<br><br><br>
	<h3>Your Instructor:</h3><br>
	Name: SATYA PRASAD DAKINEDI
	<br>
	EMAIL: satyaprasad_dakinedi@epam.com
	<br>
	
  </p>
</body>
</html>
